
{% extends 'base.html' %}

<!-- review.html -->


{% block content %}
<h1 style="margin-left: 30%;">It Is Review Page</h1>
    

<section id="contact">

    <div class="container">
        
        <div class="col-sm-8 col-md-8">
            <div class="contact-form">
                
                <form id="main-contact-form" name="contact-form" method="post" action="#">
                    {% csrf_token %}
                    

                    <div class="form-group" style="margin-bottom: 25px;">

                        <select name="model_car" required id="id_model_car">
                            <option value selected="">Modl car:</option>
                            <option value="Audi">Audi</option>
                            <option value="BMW">BMW</option>
                            <option value="Chevrolet">Chevrolet</option>
                            <option value="Dodge">Dodge</option>
                            <option value="Fiat">Fiat</option>
                            <option value="Ford">Ford</option>
                            <option value="Honda">Honda</option>
                            <option value="Hyundai">Hyundai</option>
                            <option value="Jaguar">Jaguar</option>
                            <option value="Jeep">Jeep</option>
                            <option value="Kia">Kia</option>
                            <option value="Land Rover">Land Rover</option>
                            <option value="Lexus">Lexus</option>
                            <option value="Mazda">Mazda</option>
                            <option value="Mercedes-Benz">Mercedes-Benz</option>
                            <option value="Mitsubishi">Mitsubishi</option>
                            <option value="Nissan">Nissan</option>
                            <option value="Peugeot">Peugeot</option>
                            <option value="Porsche">Porsche</option>
                            <option value="Renault">Renault</option>
                            <option value="Subaru">Subaru</option>
                            <option value="Tesla">Tesla</option>
                            <option value="Toyota">Toyota</option>
                            <option value="Volkswagen">Volkswagen</option>
                            <option value="Volvo">Volvo</option>

                        </select>
                    </div>
                    

                    <div class="form-group">
                        <input type="text" name="color_car" class="form-control" placeholder="color"  id="id_color_car">
                        <label for="id_color_car">Color car:</label>
                    </div>

                    <div class="form-group">
                        <input type="text" name="relise_data" class="form-control" placeholder="relise data"  id="id_relise_data">
                        <label for="id_relise_data">Color car:</label>
                    </div> 
                    <!-- to do not fool data -->
                    
                    <div class="form-group" style="margin-bottom: 25px;">
                        <select name="motor_type"  id="id_motor_type">
                        <option value selected="">chouse motors type</option>
                        <option value="BENZZIN">benzzin</option>
                        <option value="DISEL">disel</option>
                        <option value="GAS">gas</option>
                        <option value="ELECTRO">electro</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="number" name="motor_power" step="any" class="form-control" placeholder="motor power"  id="id_motor_power">
                        <label for="id_motor_power">Write engine capacity:</label>
                    </div>
                    <div class="form-group">
                        <input type="number" name="prise" step="0.01" class="form-control" placeholder="prise"  id="id_prise">
                        <label for="id_priser">Write price:</label>
                    </div>
                    
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
            
    </div> 

</section><!--/#bottom-->
    
    
    

    
    {% if cars %}
    <div style="margin: 20px; padding-left: 30px; padding-top: 20px;">
        {% for car in cars %}
        <div style="border: solid 5px; width: 30%; margin: 20px; padding: 10px;">
            <h3>Number: {{ car.id }}</h3>
            <h3>Cars Owner: {{ car.owner }}</h3>
            <h3>Cars Model: {{ car.model_car }}</h3>
            <h3>Cars Color: {{ car.color_car }}</h3>
            <h3>Cars Relise Data: {{ car.relise_data }}</h3>
            <h3>Cars Motors Type: {{ car.motor_type }}</h3>
            <h3>Cars Motors Power: {{ car.motor_power }}</h3>
            <h3>Cars Prise: {{ car.prise }}</h3>
            <h3>Owner Description: {{ car.description_car }}</h3><br><br>
        </div>
        {% endfor %}
    </div>
    {% endif %}
{% endblock %}
